@import "partials/variables";
@import "partials/text";
@import "partials/btn";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $bodytext-color;
}
section {
    @media ($md) {
        width: 30%;
    }
}
.textSection {
    @media ($md-reverse) {
        order: 1;
    }
}

#pagewrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonWrapper {
    margin-top: 1rem;
}

#charactersDiv {
    flex-grow: 1;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    
    @media ($md) {
        flex-direction: row;
        gap: 0rem;
    }
}

#compareDiv {
    margin: 2rem 1rem;
    text-align: left;
    border: 2px dotted $small-btn;
    border-radius: 1rem;
    padding: 1rem;
    // max-width: 800px;
}

.hidden {
    display: none;
}

.image {
    align-self: center;
    max-width: 600px;
    width: 100%;
    padding: 1rem;
}

.small.img{
    max-height: 300px;

}
