@import "partials/variables";
@import "partials/text";
@import "partials/btn";
@import "partials/images";
@import "partials/containers";
@import "partials/form";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    background-image: url(../images/stars.png);
    color: $bodytext-color;
}

