@import "partials/variables";
@import "partials/text";
@import "partials/btn";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $bodytext-color;
}

#pagewrapper {
    margin: 1rem;
    text-align: center;
}

#charactersDiv {
    display: flex;
    justify-content: space-around;
}
.character {
    padding: 1rem;
    border: 1px solid;
    height: 100px;
}