select {
    background-color: #d1cebf;
    border: 0px;
    color: $bg-color;
    width: 120%;
    padding: 0.2rem 0rem;

    &:focus {
        outline: none;
    }
    @media ($sm){
        padding: 0.5rem 0.5rem 0.5rem 1.1rem;

    }
}

.selectBtn {
    background-color: $btn-color;
    color: $p-white;
    border: 1px solid $btn-color;
    border-radius: 1rem;
    padding: 0.2rem 0.2rem;
    @media ($sm){
        padding: 0.5rem 1rem;

    }
}
.align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.selectdiv {
    overflow: hidden;
    border: 1px solid $small-btn;
    border-radius: 1rem;
    background-color: #d1cebf;

}