.image {
    align-self: center;
    max-width: 600px;
    width: 100%;
    padding: 1rem;
}

.small.img{
    max-height: 300px;
    @media ($xs){
        max-height: 400px;
    }
    @media ($md){
        max-height: 350px;
    }
    @media ($xl){
        max-height: 400px;
    }
}