$heading-color: rgb(180, 176, 159);
$bodytext-color: #b4b09f;

$bg-color: #0b0b09;

$p-black: black;
$p-white: white;


$btn-color: #baa13d;
$btn-hover: #8c7621;

$small-btn: #535146;
$small-btn-hover: #37352e;


// Breakpoints
$xs: "min-width: 406px";
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";

