$heading-color: rgb(180, 176, 159);
$bodytext-color: #b4b09f;

$bg-color: #0b0b09;

$p-black: black;
$p-white: white;


$btn-color: #baa13d;
$btn-hover: #8c7621;

$small-btn: #535146;

// Breakpoints
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";

$md-reverse: "width <= 767px";


//example
/* @media ($md) {
        
    }
*/