$heading-color: rgb(0, 0, 0);
$bodytext-color: rgb(53, 53, 53);

$bg-color: rgb(200, 200, 200);

$p-black: black;
$p-white: white;


// Breakpoints
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";


//example
/* @media ($md) {
        
    }
*/